#canvas-container {
position: relative;
width: 100vw;
height: 100vh;
}

#canvas1 {
width: 100%;
height: 100%;
}

#sound-button{
    top: 20px;
    right: 20px;
    background-color: lightgrey;
}

#github-button {
    top: 100px;
    right: 20px;
    font-size: 50px;
    background-color: lightcoral;
}

#linkedin-button {
    top: 180px;
    right: 20px;
    font-size: 40px;
    background-color: lightblue;
}

.float-button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left: 10px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, .5);
    transition: .5s width, .5s height;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.float-button:hover {
    cursor: pointer;
    width: 65px;
    height: 65px;
    transition: .5s width, .5s height;
}

a {
    color: black;
    text-decoration: none;
}