#bgdiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../dist/art/allbg.jpeg");
    background-size: 100%;
}
